:root {
    --div_height: 41px;
    --body_font_size: 25px;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
}



#internet-payment {
    height: var(--div_height);
    background-color: rgba(0, 0, 0, .75);
    color: white;
    font-size: 30px;
}

#start-time {
    font-size: var(--body_font_size);
    height: var(--div_height);
    background-color: rgba(224, 197, 191, 0.85);
}

#end-time {
    font-size: var(--body_font_size);
    height: var(--div_height);
    background-color: rgba(153, 255, 255, .75);
}

#minute {
    font-size: var(--body_font_size);
    height: var(--div_height);
    background-color: rgba(241, 189, 189, 0.75);
}

#money {
    font-size: var(--body_font_size);
    height: var(--div_height);
    background-color: rgba(53, 186, 186, 0.75);
}

#stop {
    height: var(--div_height);
    background-color: rgba(255, 255, 255, .75);
}

#stop-btn {
}

#date-time {
    height: var(--div_height);
    font-size: var(--body_font_size);
    background-color: rgba(157, 88, 229, 0.5);
}

#span-start {
    font-size: var(--body_font_size);
}


#btn {

}

#span-stop {
    font-size: var(--body_font_size);
}

@media only screen and (max-width: 765px) {
    :root {
        --body_font_size: 15px;
        --div_height: 30px;
    }

    #internet-payment {
        font-size: 20px;
    }

    #btn{
        font-size: 10px;
        height: 90%;
        margin-top: 2px;
    }
}

